/* ==UserStyle==
// @name                Disney+ Vertical Episode List
// @namespace           tag:gitlab.com/lmureu,2023:firefox-scripts/disneyplus-vertical-episode-list.user.css
// @updateURL           https://gitlab.com/lmureu/firefox-scripts/raw/master/disneyplus-vertical-episode-list.user.css
// @version             0.2
// @description         Make Disney+'s episode list vertical instead of horizontal
// @author              Lorenzo Mureu
==/UserStyle== */
@-moz-document url-prefix("https://www.disneyplus.com/") {
    .slick-track {
        width: 100% !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .slick-slide {
        margin-bottom: 64px !important;
        opacity: 1 !important;
    }

    .kOWZUx {
        position: fixed !important;
        top: 50vh !important;
        transform: initial !important;
        height: initial !important;
        opacity: 1 !important;
    }
}
