/* ==UserStyle==
@name         Open Online - White theme
@namespace    https://gitlab.com/lmureu/firefox-scripts/raw/master/openonline.user.css
@version      0.3.0
@license      MIT
@description  White theme for open.online
@author       Lorenzo Mureu <https://gitlab.com/lmureu>
@preprocessor uso
==/UserStyle== */

@-moz-document domain("open.online") {
    body, body.theme-black{
        background-color: white !important;
        color: black !important;
    }

    body.theme-black a, body a {
        color: black !important;
    }

    .social-buttons,
    footer.author,
    .page-navigation
     {
        display: none !important;
    }

    .logo a {
        background-color: black !important;
    }

    .footer, .footer a, .footer .info-open{
        background-color: black !important;
        color: white !important;
    }

    .news__footer, .news__footer a {
        color: black !important;
    }

    .menu li, .menu a {
        background-color: black !important;
        color: white !important;

    }

    .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
        border-color: black !important;
    }

    .label-title {
        color: black !important;
    }

    .article-body blockquote {
        border-left: 3px solid black;
        background: #eee;
    }

    @media only screen and (orientation: portrait) {
        /* define mobile specific styles come here */
        header.header{
            position: initial !important;
        }
      }

    @media only screen and (min-width: 300px) and (max-width: 599px) {
        .news--main .news__inner {
            background: #eee;
        }
    }
}
